<div class="card widget" style="transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s; opacity: 1; transform-origin: center top;">
    <div class="card-content">
        <center><p class="is-size-4 is-block">
            Bulletin Board
        </p></center>
        <p id="announcement_content" style="text-align: center;">  It is better to chase the wind than to wait for it.</p>
    </div>
</div>